<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyLXuDwJLYfYl06YM34IbZaNDsgT1AsYk</string>
	<key>GCM_SENDER_ID</key>
	<string>883798523298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.witnessworldconnect.app</string>
	<key>PROJECT_ID</key>
	<string>witnessworld-1cb8f</string>
	<key>STORAGE_BUCKET</key>
	<string>witnessworld-1cb8f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883798523298:ios:3d64f5ebef5c2ec17b86fb</string>
</dict>
</plist>